@media only screen and (max-width: 600px) {
    h2 {
        margin: 15px 50px;
    }
    
    .js-search-form {
        margin: 0 50px;
    }
    .search-results {
        border: 1px solid #fff;
        margin: 35px;
        padding: 20px;
    }
    
    .js-query {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 10%;
    }
    
    .submit {
     border: 1px solid black;
     border-radius: 10%;
     background: grey;
    }
    
    .submit:hover {
    background: orangered;
    }
}